<h1>Dziękujemy za złożenie zamówienia!</h1>


<p>Twoje zamówienie zostało przyjęte do realizacji.</p>


<table class="table">
  <tr>
    <th>Numer zamówienia</th>
     <td>#000<%= @cart.id %></td>
  </tr>
  <tr>
    <th>
      Twoje zamówienie
    </th>
    <td>
       <% @cart.cart_items.each do |cart_item| %>
          <% item = cart_item.item %>
          <p><%= item.title %>
          <%= cart_item.count %>szt.

       <% end %>
           <p> Total:<%= number_to_currency @cart.total_price, :unit => "zł" %></p>
    </td>
  </tr>

  <tr>
    <th>Adres do wysyłki</th>
    <td>Tutaj dopisz dane usera!</td>
  </tr>

  <tr>
    <th>
      Dane do przelewu
    </th>
    <td>
      <p>58 1750 0012 0000 0000 2146 9718</p>
      <p>Raiffeisen bank</p>

      <p>ADRES FIRMY</p>
      <p>Sp. z.o.o. Sp. Komandytowa</p>
      <p>Ul. Miłkowskiego 1</p>
      <p>30-349 Kraków</p>
    </td>
  </tr>

  <tr>
    <th>Tytuł przelewu</th>
    <td>Zamówienie #000<%= @cart.id %></td>
  </tr>

  <tr>
    <th>Kwota całkowita</th>
    <td><%= number_to_currency @cart.total_price, :unit => "zł" %></td>
  </tr>
</table>

