
<h1>Szczegóły zamówienia</h1>
<table class="table">
  <tr>
    <th>Numer zamówienia</th>
     <td>#000<%= @cart.id %></td>
     <%= @cart.checked_out_at %>
  </tr>
  <tr>
    <th>
      Twoje zamówienie
    </th>
    <td>
       <% @cart.cart_items.each do |cart_item| %>
          <% item = cart_item.item %>
          <p><%= item.title %>
          <%= cart_item.count %>szt.
      <% end %>

      <% unless @cart.cart_items.any? %>
          <p>Nie masz żadnych produktów w koszyku. <%= link_to "Dodaj produkt", items_path %>
      <% end %>

    </td>
  </tr>

  <tr>
    <th>Adres do wysyłki</th>
    <td>
      <% if current_user %>
         <p> <%= current_user.name %> <%= current_user.surname %></p>
          <p> <%= current_user.street %></p>
          <p><%= current_user.postcode %> <%= current_user.city %></p>
          <p><%= link_to 'Edytuj dane', edit_user_registration_path %></p>
       <% end %>
  </tr>

  <tr>
    <th>
      Dane do przelewu
    </th>
    <td>
      <p>58 1750 0012 0000 0000 2146 9718</p>
      <p>Raiffeisen bank</p>

      <p>ADRES FIRMY</p>
      <p>Sp. z.o.o. Sp. Komandytowa</p>
      <p>Ul. Miłkowskiego 1</p>
      <p>30-349 Kraków</p>
    </td>
  </tr>

  <tr>
    <th>Tytuł przelewu</th>
    <td>Zamówienie #000<%= @cart.id %></td>
  </tr>

  <tr>
    <th>Kwota całkowita</th>
    <td><%= number_to_currency @cart.total_price, :unit => "zł" %></td>
  </tr>
</table>



<% unless @cart.cart_items.empty?  %>
    <h1><%= link_to 'Złóż zamówienie', save_cart_path(@cart.id) %></h1>
<% end %>
