
<h1>Prenumerata</h1>

<p><%= @order.user_id %></p>

<table class="table">
  <% @order.order_subscriptions.each do |order_subscription| %>
      <tr>
      <% subscription = order_subscription.subscription %>
      <td><%= subscription.name %></td>
      <td width="60"><%= number_to_currency order_subscription.price, :unit => "zł" %></td>
      </tr>
  <% end %>
  <br>

  <tr>
    <td>Total:</td>
    <td><%= number_to_currency @order.total_price, :unit => "zł" %></td>
  </tr>
</table>

 <%= link_to 'Przejdź dalej', order_show_path(@order.id, @order.total, @order.order_subscriptions ) %></p>