
<h1>Numery archiwalne</h1>
  <table class="table table-condensed">
  <tbody>
    <% @items.each do |item| %>
        <tr>
          <td><div><%= image_tag item.image.url %></div><td>
              <div><%= item.title %></div>
               <div><%= item.signature %></div>
               <br>
               <div><%= item.description %></div>
               <div><%= item.price %></div>
            <%= button_to "Wybierz", add_to_cart_path(item.id) %>
          </td>
        </tr>

    <% end %>
  </tbody>
</table>



