
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">


        <% if current_user %>
            <li><%= link_to "Prenumerata", items_path %></li>

            <li><%= link_to "Twoje zamówienie",  cart_Index_path %></li>

            <li><%= link_to 'Edytuj profil', edit_user_registration_path %></li>

            <li><%= link_to 'Wyloguj się', destroy_user_session_path, method: :delete %></li>
        <% else %>
            <li><%= link_to 'Zaloguj się', new_user_session_path %></li>

            <li><%= link_to 'Zarejestruj się', new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
